@media screen and (max-height: 620px) {
    .screen {
        height: 610px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 800px) {
    #header {
        display: none;
    }
    .placehold {
        display: inherit;
    }
    #main-slider-space,
    .norm {
        display: none;
    }
    .slider-buttons {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 16px;
        margin: 20px 0 0;
    }
    h2 {
        font-size: 14px;
    }
    #boutme {
        margin: 0px auto 0px;
        position: relative;
        width: 90%;
        height: 400px;
    }
    .self {
        width: 160px;
        height: 160px;
        border-radius: 110px;
        margin: 20px auto 20px;
    }
    .description,
    #footer {
        width: 90%;
    }
    .imac {
        width: 80%;
        height: auto;
        margin: 0px auto;
    }
    .ios {
        width: 90%;
        height: auto;
        margin: 0px auto;
    }
    .line {
        width: 100%;
    }
    .screen {
        height: 98vw;
    }
}