/* 	CSS
	Sahir Jaggi
	January 2015
*/

@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import url("http://fonts.googleapis.com/css?family=Lora:400,400italic,700italic");
/* Links
------------------------------------------------------------ */

a:link,
a:visited {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #4BC4F2;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

a.current {
    color: #000000;
}
/* Typography
------------------------------------------------------------ */

* {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    text-align: left;
    line-height: 180%;
}

#content p {
    font-size: 90%;
}

h6.caption {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 80%;
    text-align: center;
}

h6.modalCap {
    background-color: transparent;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 80%;
    text-align: center;
}

h1#name {
    font-size: 90%;
}

.preview h1 {
    margin-top: 20px;
    font-size: 130%;
    line-height: 50%;
}

#radius p {
    color: #00CC66;
    font-size: 90%;
    line-height: 50%;
    display: block;
}

#scuttlebug p {
    color: #4FA0FF;
    font-size: 90%;
    line-height: 50%;
    display: block;
}
/* Basic styles
------------------------------------------------------------ */

#header {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 80px;
}

body {
    margin-top: 40px;
}

#content {
    margin-top: 40px;
}
/* Nav
------------------------------------------------------------ */

nav {
    float: right;
}

nav label {
    display: none;
}

nav input {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 15px;
    font-size: 80%;
}
/* Tables
------------------------------------------------------------ */

table#content {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-bottom: 14vh;
}

#exploration td,
#ux td {
    padding-bottom: 0;
}

#storyboard td {
    padding-bottom: 18vh;
}

div#left {
    width: 340px;
    float: left;
}

div#right {
    display: block;
    width: 340px;
    float: right;
}

div.compare {
    width: 100%;
}
/* Images
------------------------------------------------------------ */

.self {
    width: 340px;
    height: 340px;
    background-image: url("../imgs/self.png");
    background-size: cover;
    border-radius: 200px;
}

.preview img {
    width: 100%;
    height: auto;
}

.preview img.full {
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
}

img.gif {
    width: 300px;
    height: auto;
    padding: 0px 20px;
}

img.picture {
    width: 340px;
    height: auto;
    border: 1px solid;
    border-color: #D3D3D3;
    box-shadow: 10px 10px 5px #888888;
}

div.mock {
    padding: 40px;
}

img.screen {
    width: 240px;
    height: auto;
    display: block;
    border: 1px solid;
    border-color: #D3D3D3;
    box-shadow: 10px 10px 5px #888888;
}

img.color {
    border-right: none;
    border-bottom: none;
}

img.fullcol {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: #D3D3D3;
    box-shadow: 10px 10px 5px #888888;
}

img#flowModal {
    width: 60vw;
    height: auto;
}

img#uiModal {
    width: 80vw;
    height: auto;
}

img#storyModal {
    width: 90vw;
    height: auto;
}

.compare img {
    display: inline;
    width: 170px;
    margin: 7px;
    border-left: 1px solid;
    border-color: #D3D3D3;
    box-shadow: 7px 7px 4px #888888;
}
/* Project List
------------------------------------------------------------ */

ul.preview {
    list-style-type: none;
    padding-left:0;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

ul.preview li {
    position: relative;
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

span.text, span.text-full {
    display: table-cell;
    vertical-align: middle;
    text-indent: 1em;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: 100%;
    height: 12vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}

span.text-full {
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    opacity: 0;
}

button {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5% 2% 0.5% 2%;
    font-size: 80%;
    color: #FFFFFF;
    border-radius: 30px;
    border-width: 0;
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 9999;
    opacity: 0.5;
}

ul.preview li:hover span.text,
ul.preview li:hover span.text-full,
ul.preview li:hover button {
    opacity: 1;
}
/* Transitions
------------------------------------------------------------ */

span.text,
span.text-full,
button {
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
/* Modal
------------------------------------------------------------ */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    height: auto;
    position: relative;
    vertical-align: middle;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    color: #FFFFFF;
    line-height: 30px;
    position: absolute;
    right: -30px;
    text-align: center;
    top: -30px;
    width: 10px;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
}

.close:hover {
    color: #00d9ff;
}

#openFlow > div {
    width: 60%;
    height: 0;
    margin: 5% auto;
}

#openUI > div {
    width: 80%;
    height: 0;
    margin: 5% auto;
}

#openStory > div {
    background-color: color: black;
    width: 90%;
    height: 0;
    margin: 5% auto;
}

@media screen and (max-width: 768px) {
    /* Typography
	------------------------------------------------------------ */
    
    .preview h1 {
        font-size: 5vw;
    }
    #header h1,
    nav {
        text-align: center;
    }
    #name h1 {
        font-size: 80%;
    }
    /* Basic styles
	------------------------------------------------------------ */
    
    #header {
        margin-bottom: 10px;
    }
    body {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #content {
        margin-top: 0px;
    }
    #projects {
        margin-top: 20px;
    }
    /* Images
	------------------------------------------------------------ */
    
    div.mock {
        padding: 10px 40px;
    }
    .compare img {
        width: 150px;
    }
    /* Nav
	------------------------------------------------------------ */
    
    nav {
        float: none;
    }
    nav li {
        display: block;
        padding: 2px;
        text-align: center;
    }
    nav label {
        display: initial;
        cursor: pointer;
        color: #808080;
        text-align: center;
    }
    nav input {
        display: initial;
    }
    #menuToggle {
        display: none;
    }
    #menu {
        display: none;
    }
    #menuToggle:checked + #menu {
        display: block;
    }
    /* Table
	------------------------------------------------------------ */
    
    table#content {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    td,
    #storyboard td {
        padding-bottom: 2vh;
    }
    .column {
        float: none;
        width: 100%;
        margin-top: 10px;
    }
    /* Project List
	------------------------------------------------------------ */
    
    ul.preview {
        width: 90%;
    }
    ul.preview li {
        width: 100%;
    }
    button {
        padding: 1% 3% 1% 3%;
        font-size: 70%;
        bottom: 15px;
    }
    span.text {
        height: 8vh;
    }
    span.text p {
        display: none;
    }
    span.text,
    button {
        opacity: 1;
    }
    #radius p,
    #scuttlebug p {
        display: none;
    }