* {
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 10px;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #D3D3D3;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.name {
	float: left;
	font-weight: 700;
}

.links {
	float: right;
}