* {
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%; 
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 15px;
}

a:link, a:visited {
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #4BC4F2;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

nav {
	float: right;
}

.line-separator {
	margin-top: 40px;
	height: 1px;
	background: #000000;
}

a.current {
	color: #000000;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #000000 url("menu-icon.png") center;
}


@media screen and (max-width : 760px){

	#menu-icon {
		display: inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #FFFFFF;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}

}