* {
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 80px; 
}

.content {
	margin-top: 40px;
}

p {
	font-size: 100%;
	line-height: 180%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 15px;
	font-size: 80%;
}

a:link, a:visited {
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #4BC4F2;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

nav {
	float: right;
}

.line-separator {
	margin-top: 40px;
	height: 1px;
	background: #000000;
}

.line-separator2 {
	margin-top: 20px;
	height: 1px;
	background: #000000;
	display: none;
}

a.current {
	color: #000000;
}

label {
	display: none;
}

input {
	display: none;
}

.art-image {
	background: #00CC66;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.preview h1 {
	font-family: 'Noto+Serif', serif;
	font-style: italic;
	font-size: 200%;
	font-weight: 400;
	line-height: 20%;
}

.preview p {
	font-family: 'Noto+Serif', serif;
	color: #00CC66;
	font-size: 150%;
	line-height: 10%;
	display: block;
}

.preview {
	padding: 10px 0 3px 0;
	background: #00994C;
	color: #FFFFFF;
	font-size: 90%;
	width: 100%;
	text-indent: 2em;
	margin-left: auto;
	margin-right: auto;
}

button {
	padding: 10px 30px 10px 30px;
	font-size: 80%;
	border-radius: 10px;
	background: #00994C;
	color: #FFFFFF;
	border-width: 0;
	position: relative;
	top: -50px;
	left: 20px;
	z-index: 9999;
}

.preview, button {
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

article:hover button, article:hover .preview {
	background-color: #174C32;
	color: #FFFFFF;
}

.app-image {
	height: auto;
	width: 100%;
	display: block;
}

.self-image {
	width: 330px;
	height: 330px;
	background-image: url("myself.png");
	background-size: cover;
	display: block;
	border-radius: 180px;
	float: left;
	margin-right: 120px;
}

@media screen and (max-width : 468px) {

	.preview p {
		font-size: 120%;
	}

}

@media screen and (max-width : 768px){

	* {
		text-align: center;
	}

	body {
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 20px; 
	}

	.line-separator2, button {
		display: block;
	}

	h1 {
		margin-top: 20px;
	}

	.preview h1, p {
		text-align: left;
	}

	nav {
		float: none;
	}

	li {
		display: block;
		padding: 5px;
		margin-top: 10px;
		text-align: center;
	}

	label {
		display: initial;
		cursor: pointer;
		color: #808080;
		text-align: center;
	}

	input {
		display: initial;
	}

	#menu-toggle {
		display: none;
	}

	#menu {
		display: none;
	}

	#menu-toggle:checked + #menu {
		display: block;
	}

	.selfimage {
		float: none;
		margin-right: 0px;
	}

}
